@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
    padding: 0;
  }

  a,
  button,
  input {
    all: unset;
  }

  a,
  button {
    cursor: pointer;
  }

  input {
    cursor: text;
  }

  body {
    @apply bg-primary-bg text-primary-text py-body-y px-body-x font-primary min-h-screen font-normal;
  }

  .btn-primary {
    @apply py-btn-y px-btn-x rounded-btn-input bg-accent text-accent-text text-sm font-semibold text-center transition duration-200 ease-in-out hover:scale-102 disabled:pointer-events-none disabled:opacity-60 disabled:bg-light-grey disabled:text-white;
  }

  .btn-secondary {
    @apply border-2 border-accent border-solid rounded-btn-input font-semibold text-sm py-btn-y px-btn-x text-center;
  }
}
